In [20]:
import pandas as pd

In [28]:
poke = pd.read_csv('poke data.csv')

print(poke.head(2))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False

In [52]:
#Read Headers
print(poke.columns)
print(poke.head(10))
#Read Each Column
print(poke[['Generation', 'Attack']])

#Read Each Row
print(poke.iloc[9:11])

#Read Specific Location
print(poke.iloc[1,3])

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1                  Bulbasaur  Grass  Poison  45      49       49       65
1  2                    Ivysaur  Grass  Poison  60      62       63       80
2  3                   Venusaur  Grass  Poison  80      82       83      100
3  3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159
9  7                   Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False
9       64     43           1      False
     Generation  Attack
0             1      49
1             1      62
2             1      82
3             1     100
4             1      52
..          ...     ...
795           6     100
796           6     160
797           6     110
798           6     160
799           6     110

[800 rows x 2 columns]
    #       Name Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
9   7   Squirtle  Water    NaN  44      48       65       50       64     43
10  8  Wartortle  Water    NaN  59      63       80       65       80     58

    Generation  Legendary
9            1      False
10           1      False
Poison

In [165]:
# Sorting and Describing Data

poke.describe()

poke.sort_values('Name') #Alphabetic

poke.sort_values('Name', ascending = False) #Non-alphabetic

poke.sort_values(['Type 2', 'Attack'], ascending = [1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
380,348,Armaldo,Rock,Bug,75,125,100,70,80,45,3,False,495
379,347,Anorith,Rock,Bug,45,95,50,40,50,75,3,False,355
501,451,Skorupi,Poison,Bug,40,50,90,30,55,65,4,False,330
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,Super Legendary,700
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,Super Legendary,680
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False,200
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False,200
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False,540
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False,450
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False,220

In [69]:
#Making Changes to the Data
poke['Total'] = poke['HP'] + poke['Attack'] + poke['Defense'] + poke['Sp. Atk'] + poke['Sp. Def'] + poke['Speed']

poke['Total'] = poke.iloc[:, 4:10].sum(axis = 1)

poke.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [71]:
# Saving/ Exporting our Data

poke.to_csv('PokeUpdated.csv', index = False)

In [150]:
#Filtering Data

poke.loc[(poke['Type 1'] == 'Fire') & (poke['Attack'] >= 100)]

poke.loc[poke['Name'].str.contains('Mega')]

# Setting new DF and then pulling data from new DF

pokefire = poke.loc[(poke['Type 1'] == 'Fire') & (poke['Attack'] >= 100)]

pokefire.sort_values('Attack', ascending = False)

pokefire.head(3)

pokefire.loc[pokefire['Attack'] >100]

pokefire.iloc[2,-4]

95

In [162]:
# Changing data with Loc function

poke.loc[poke['Total'] > 600, ['Legendary']] = "Super Legendary"
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,Super Legendary,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,SSB,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,Super Legendary,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,SSB,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,Super Legendary,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,SSB,600

In [167]:
# Group by

poke.groupby('Generation').sum().sort_values('Attack', ascending = False )

                #     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Total
Generation
5           94755  11845   13541    11934    11878    11342  11233  71773
3           51515  10647   13060    11856    12129    11396  10708  69796
1           12586  10926   12722    11763    11922    11469  12049  70851
4           53536   8843   10027     9454     9245     9340   8632  55541
2           21442   7548    7635     7779     6990     7834   6552  44338
6           56417   5598    6216     6288     6092     6141   5448  35783